<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'HOME.title' | translate:params }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
 
  <ion-list>
    <ion-item>
      <ion-label>Select Language</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="fr">French</ion-select-option>
        <ion-select-option value="ar">Arabe</ion-select-option>

      </ion-select>
    </ion-item>
  </ion-list>
 
 
  
 
 
</ion-content>
